.text-center {
    text-align: center;
}

body {
    background-color: darkgrey;
}

.TM {
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 75%;
    height: 575px;
    margin: auto;

    padding: 1%;

    background-color: white;
}

.disabled {
    display: none !important;
}

.gridOptions {
    display: grid;
    align-content: center;

    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    grid-template-rows: 100%;
}

.miniGrid {
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;

    row-gap: 5px;
}

.otherGRID {
    display: grid;
    align-content: center;

    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100%;

    color: white;

    background-color: crimson;
    padding: 2%;

    height: 150px;
}

.col1 {
    grid-column: 1;
}
.col2 {
    grid-column: 2;
}
.row1 {
    grid-row: 1;
}
.row2 {
    grid-row: 2;
}
.row3 {
    grid-row: 3;
}
.row4 {
    grid-row: 4;
}